@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts/TWKLausanne-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts/TWKLausanne-450.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts/TWKLausanne-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FAMAime";
  src: url("./assets/fonts/FAMAime-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lyon";
  src: url("./assets/fonts/LyonDisplay-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  @apply font-light text-white;
  font-family: "TWKLausanne", sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-lyon {
  font-family: "Lyon", sans-serif !important;
  text-wrap: wrap;
}

body {
  @apply w-screen overflow-x-hidden;
}

.link {
  @apply text-mint;
}

.main-container {
  @apply mx-auto px-5 md:px-10;
  max-width: 1440px;
}

/* Hide the spinner in number input */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, and newer versions of Edge */
  margin: 0; /* Remove default margin */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #07221d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    205.47deg,
    #2baa83 8.69%,
    #0c423d 46.73%,
    #00090d 80.96%
  );
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #42eca8;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.MuiStack-root {
  padding: 0 !important;
}

.rich-container {
  strong {
    font-weight: 600;
  }

  h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    font-family: Lyon, sans-serif !important;
    margin-bottom: 100px;
  }

  h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 36.4px;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }
  p {
    margin-bottom: 1.75rem;
    font-size: 24px;
    line-height: 28.8px;
  }

  ul {
    list-style: disc;
    padding-left: 2rem;
  }

  p:has(+ ul) {
    margin-bottom: 0 !important;
  }

  li > p {
    margin-bottom: 0px;
  }

  li::marker {
    font-size: 1.5rem;
  }

  a {
    @apply transition hover:text-mint;
  }

  @media (max-width: 640px) {
    h1 {
      font-size: 27px;
      line-height: 30px;
      margin-bottom: 50px;
    }

    h3 {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
